- space="\u{20}"
- __="\u{0323}"
- _="\u{0301}"
- d="\u{00F0}"
- e="e"+_
- i="i"+_
- n="\u{014B}"
- o="o"+_
- s="\u{017F}"
- S=s.toUpperCase()
- s_=s+_
- S_=s_.toUpperCase()
- t="\u{00FE}"
- u="u"+_
- _u="u"+"\u{0308}"
- z_="z"+_