@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
body {
  font: 20pt "Noto Sans", sans-serif;
  margin: 2em 3em;
  background-color: #fff;
}
body table {
  width: 100%;
}
body table > * {
  text-align: center;
  padding: 0.5em;
}
body table a {
  text-decoration: none;
}
body table a:hover {
  background-color: #eee;
  text-decoration: underline;
}
body table,
body table th,
body table td {
  border-width: 0.25em;
  border-style: solid;
  border-collapse: collapse;
  border-color: #000;
}
