@import "https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap";
body {
	font: 20pt "Noto Sans", sans-serif;
	margin: 2em 3em;
	background-color: #fff;
	%h {
		font-style: italic;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@extend %h;
	}
	a {
		text-decoration: none;
		&:hover {
			background-color: #eee;
			text-decoration: underline;
		}
	}
	table {
		width: 100%;
		> * {
			text-align: center;
			padding: calc(1em / 2);
		}
		th {
			@extend %h;
		}
		&,
		th,
		td {
			border-width: calc(1em / pow(2, 3));
			border-style: solid;
			border-collapse: collapse;
			border-color: #000;
		}
	}
	details {
		summary {
			@extend %h;
			font-weight: bold;
		}
	}
	ul,
	ol {
		&#root {
			> li {
				list-style: none;
			}
			> li {
				font-size: 1.5em;
				ul,
				ol {
					font-size: calc(1em / 1.5);
				}
			}
		}
	}
}
