extends ../_.pug
append head
	title= dolita
block body
	h1= dolita
	ul.root.noBullet
		li
			+abbrA("History",istaga,"istaga.html")
			ol
				li: a(href="istaga.html#fristila")= fristila
				li: a(href="istaga.html#valda")= valda
				li: a(href="istaga.html#midva")= midva
				li: a(href="istaga.html#furda")= furda
		li
			+abbrA("Genealogy",kinslada,"kinslada.html")
			ol
				li: a(href="kinslada.html#gen-1") Generation 1
				li: +abbrA("Generation 2A",jurla,"kinslada.html#gen-2a")
				li: a(href="kinslada.html#gen-2b") Generation 2B
				li: a(href="kinslada.html#gen-3") Generation 3
				li: a(href="kinslada.html#gen-4") Generation 4
				li: a(href="kinslada.html#gen-5") Generation 5
				li: a(href="kinslada.html#gen-6") Generation 6
				li: a(href="kinslada.html#makra")= the.makra
		li
			+abbrA("Culture",mena,"mena.html")
			ol
				li: a(href="mena.html#professions") Professions
				li: a(href="mena.html#doda")= doda